flow.json
[{"id":"3739886a.1825b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"48cc765f.3e0de8","type":"http request","z":"3739886a.1825b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":80,"wires":[["d78d0310.f64ee","b1fdd2fb.c9e67"]]},{"id":"e0b426d3.a4e598","type":"inject","z":"3739886a.1825b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["48cc765f.3e0de8"]]},{"id":"d78d0310.f64ee","type":"debug","z":"3739886a.1825b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":80,"wires":[]},{"id":"b1fdd2fb.c9e67","type":"csv","z":"3739886a.1825b8","name":"","sep":",","hdrin":false,"hdrout":true,"multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":330,"y":140,"wires":[["79857f5e.29c53","d78c600d.35a92"]]},{"id":"79857f5e.29c53","type":"debug","z":"3739886a.1825b8","name":"csv2array","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":140,"wires":[]},{"id":"d78c600d.35a92","type":"change","z":"3739886a.1825b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"/* payload[0]~>$sift(function($v,$k){ $k~>/col/}) */\t(\t   $header := payload[0]~>$each(function($v,$k) { { \"key\" : $k, \"val\" : $v} } );\t   {\t     \"header\" : $header,\t     \"last_col\" : $header[-1],\t     \"last_col_min_8\" : $header[-8],\t     \"location\" : payload[col2 != \"Country/Region\"].(\t        $new_cases_current := ($lookup($,$header[-1].key)-$lookup($,$header[-8].key))/7;\t        $new_cases_1week_ago := ($lookup($,$header[-8].key)-$lookup($,$header[-15].key))/7;\t        {\t         \"country_region\" : $lookup($,\"col2\"),\t         \"province_state\" : $lookup($,\"col1\"),\t         \"total_conf_cases\": $lookup($,$header[-1].key),\t         \"new_cases_current\" : $new_cases_current,\t         \"new_cases_1week_ago\" : $new_cases_1week_ago,\t         \"reproduction_number\" :   $new_cases_1week_ago = 0 \t                                   ? ($new_cases_current = 0 ? 0 : 9999)\t                                   : $new_cases_current/$new_cases_1week_ago\t        }\t      )\t   }\t   \t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[["9124a122.24074","4e81e87d.b3abf8"]]},{"id":"9124a122.24074","type":"debug","z":"3739886a.1825b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":200,"wires":[]},{"id":"4e81e87d.b3abf8","type":"change","z":"3739886a.1825b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.location[$not($exists(province_state))]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":260,"wires":[["4406d2a6.88b6ac"]]},{"id":"4406d2a6.88b6ac","type":"debug","z":"3739886a.1825b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":260,"wires":[]}]